[flake8]
ignore =
    # No space before colon
    E203
    W503
    # Missing docstring in __init__
    D107
    # "First line should be in imperative mood" -- this doesn't work for properties, see https://github.com/PyCQA/pydocstyle/issues/301
    D401
    # allow method names to be the same as python builtins
    A003
    # inline strong start-string without end-string. This is OK in the case of **kwargs in parameters.
    RST210
    # Ignore public methods without docstrings
    D102
    # one-line docstring should fit on one line with quotes)
    D200
    # first line should end with a period)
    D400
    # line too long
    E501
    D105
    D204
    D202
    D205
    # logging statement uses f-string
    G004
    # No explicit stacklevel keyword argument in warn calls
    B028
    # Missing docstrings
    D100
    # Unused imports
    F401
    # Unused variables
    F841
    # Do not use lambda
    E731
    # No function calls in assigment
    B008
    # Call to gettatr with a hardcoded value
    B009
    # Ignore "Function definition does not bind loop variable"
    B023
max-line-length = 88
# Should be 18.
max-complexity = 25
exclude =
    development/*,
    cosmosis_modules/*,
    docs/*,
    legacy_input_files/*
# Not ready for this yet.
per-file-ignores =
    tests/*:D,T001,T201   # print statements allowed in tests
    docs/conf.py:D,A
    */__init__.py:F401
rst-roles =
    class
    func
    mod
    data
    const
    meth
    attr
    exc
    ob
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
