dark_emulator
docutils>=0.19
#hmf
#halomod
git+https://github.com/andrejdvornik/halomod.git # replace with upstream when PR approved
git+https://github.com/andrejdvornik/hmf.git # replace with upstream when PR approved
importlib_metadata
ipykernel
nbsphinx
numpydoc
pandoc
sphinx>=6.1.3
sphinx_rtd_theme
