ipykernel
nbsphinx
numpydoc
pandoc
sphinx_rtd_theme
#hmf
#halomod
git+https://github.com/andrejdvornik/halomod.git
git+https://github.com/andrejdvornik/hmf.git
dark_emulator
sphinx>=6.1.3
docutils>=0.19
importlib_metadata
mathjax
